{
  "singleQuote": true,
  "trailingComma": "all",
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "proseWrap": "always",
  "bracketSpacing": false,
  "semi": true,
  "endOfLine": "lf",
  "bracketSameLine": true
}
